@import "tailwindcss";

@theme {
  --color-space: #050510;
  --color-starlight: #ffffff;
  --font-sans: 'Inter', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-space);
  color: white;
}